*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 960px;
    margin: 0 auto;
}

body{
    background-color: oldlace;
}
.title{
    margin: 10px;
}
.title h1{
    text-align: center;
}
.game-block{
    width: 100%;
    height: 500px;
}
.game_header{
    width: 100%;
    height: 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.game_moving-area{
    box-sizing: content-box;
    width: 960px;
    height: 450px;
    border: 2px solid black;
    position: relative;
}
.cube{
    width: 30px;
    height: 30px;
    /* border: 1px solid black; */
    background-color: blueviolet;
    /* box-shadow: 1px 1px 3px black; */
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
}
.snake :first-child{
    background-color: rgb(89, 19, 150);
}

/* .food .apple{
    background-color: green;
    background-color: linear-gradient(#5bc236, #308014, #006400);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 60px;
    top: 60px;
    border-radius: 35% 35% 41% 41% / 42% 42% 75% 75%;
} */

.apple{
    display: none;
    margin-top: 4.5px;
    width: 30px;
    height: 25px;
    border-radius: 2em 2em 3em 3em;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #ff4355;
    box-shadow: inset 0.1em -0.1em #cc1022;
    overflow: hidden;
}
.apple::before{
    content: "";
    width: 1.2em;
    height: 1em;
    top: -0.12em;
    left: 0.65em;
    background-color: inherit;
    border-radius: 1em 1em 0 0;
    position: absolute;
    box-shadow: -0.6em 0 0 #ff4355, inset 0.2em 0.2em #ff4355;
}
.apple::after{
    content: "";
    width: 0.1em;
    height: 0.5em;
    background-color: brown;
    position: absolute;
    z-index: 2;
    top: -0.3em;
    left: 0.9em;
}
